 body {
      font: 10px sans-serif;
    }

    .bar rect {
      fill: steelblue;
      shape-rendering: crispEdges;
    }

    .bar text {
      fill: #fff;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

  .market .y.axis .tick.major line {
    stroke: #000;
    stroke-dasharray: 2,2;
    }

div.tooltip {   
  position: absolute;           
  text-align: center;  
  opacity: 0.5;         
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

div.tooltip text {   
  margin-top: 5px;       
}